<div class="container">
  <div class="row" *ngFor="let articlesRow of articles | groupElementsBy: colsPerRow">
    <div *ngFor="let article of articlesRow" [class]="'col-' + 12 / colsPerRow">
      <app-blog-card 
	      [article]="article" 
	      (liked)="getArticleId($event)">
      </app-blog-card>
    </div>
  </div>
</div>