<div class="card">
        <img 
          [src]="article.cover"
          class="card-image-top"
          class="img-fluid"/>

          <div class="card-header bg-primary text-light">
              <h2 class="h4">
                  <a href="#" class="text-light">
                      <!-- bind article title -->{{article.title}}
                  </a>
              </h2>
              <p class="mb-0">
                  <small>
                      Published at <time datetime=""><!-- bind publication time -->{{article.publishedAt | date:"MM/dd/yy" }}</time> by <u><!-- bind article author -->
                      <!-- {{[article.author.firstName, article.author.lastName].join(' ')}} -->
                      {{ article.author | getFullName }}
                        <!-- in pipe -->
                      </u>
                  </small>
              </p>
          </div>
          
          <div class="card-body">
              <p><!-- bind article content preview -->{{article.contentPreview}}</p>
              <footer class="tagline" *ngFor="let tag of article.tags">
                  <small [class]="'badge badge-' + tag.category">
                      <!-- bind article tags. each tag should have bootstrap class corresponding to the tag category -->{{tag.label}}
                      <span 
                      class="badge"></span>
                  </small>
              </footer>
          </div>

          <div class="card-footer">
              <div class="row">
                  <div class="col"  >
                      <!-- if article has more than 0 comments, the button should have primary color -->
                      <button
                          type="button"
                          class="btn social-btn"
                          [class.btn-primary]="article.commentsCount > 0">
                          <i class="fa fa-comment"></i>
                          <span>
                              <!-- bind article comments -->{{article.commentsCount}}
                          </span>
                      </button>
                  </div>
                  <div class="col text-right">
                      <!-- if article has more than 0 likes, the button should have primary color -->
                      <button
                          type="button"
                          class="btn social-btn"
                          [class.btn-primary]="article.likesCount > 0"
                          [attr.id]="article.id"
                          (click)="handleClick()">
                          <i class="fa fa-heart"></i>
                          <span>
                              <!-- bind article likes -->{{article.likesCount}}
                          </span>
                      </button>
                  </div>
              </div>
          </div>
        </div>
